@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "DM Sans", sans-serif;
  font-size: 18px;
  background-color: var(--Cream);
}

main {
  height: 100vh;
  flex-direction: column;
  gap: 20px;
}

:root {
  --Soft-red: hsl(10, 79%, 65%);
  --Cyan: hsl(186, 34%, 60%);

  /* ### Neutral */
  --Dark-brown: hsl(25, 47%, 15%);
  --Medium-brown: hsl(28, 10%, 53%);
  --Cream: hsl(27, 66%, 92%);
  --Very-pale-orange: hsl(33, 100%, 98%);
}
li {
  list-style: none;
}
hr {
    border-top: 1px solid var(--Medium-brown);
    margin: 24px 0;
}
/* REUSABLES */
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.first-section {
  width: 375px;
  justify-content: space-between;
  background-color: var(--Soft-red);
  color: var(--Very-pale-orange);
  padding: 26px;
  border-radius: 12px;
}
.first-section h2 {
  font-size: 16px;
  font-weight: 400;
}
.first-section span {
  font-size: 24px;
  font-weight: 700;
}

.second-section {
  width: 375px;
  background-color: var(--Very-pale-orange);
  color: var(--Dark-brown);
  padding: 26px;
  border-radius: 12px;
}
.second-section h2 {
  font-weight: 700;
}
.second-section ul {
  gap: 20px;
  font-size: 16px;
  font-weight: 400;
  color: var(--Medium-brown);
}

.total-per-month {
    justify-content: space-between;
    align-items: flex-end;
}
.this-month p {
    color: var(--Medium-brown);
    font-size: 16px;
    font-weight: 400;
}
.this-month span {
  font-weight: 700;
  font-size: 28px;
}
.last-month {
    text-align: end;
}
.last-month span {
    font-size: 16px;
    font-weight: 700;
}
.last-month p {
    color: var(--Medium-brown);
    font-size: 16px;
}









.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
